{% trans_default_domain 'Trade' %}
{% form_theme buyForm 'BtcTradeBundle:Form:market.html.twig' %}
<form action="{{ path('btc_trade_order_market') }}" {{ form_enctype(buyForm) }} method="POST" role="form">
    {% if buyForm.vars["errors"] is not empty %}
        <div class="alert alert-danger" style="display: inline-block;">
            {{ form_errors(buyForm) }}
        </div>
    {% endif %}

    {{ form_row(buyForm.amount, {
        suffix: base_currency().code,
        attr: {"data-in-type": "amount"}
    }) }}
    {{ form_row(buyForm.askedUnitPrice, {
        suffix: quote_currency().code,
        field_value: topSellers[0] is defined ? topSellers[0].price|round(5) : 0,
        attr: {"data-in-type": "price"}
    }) }}

    {{ form_rest(buyForm) }}

    <div class="form-group">
        <div class="control-label">{{ 'form.limit.total'|trans }}</div>

        <div class="box-control">
            <div class="input-group">
                <input type="text" data-in-type="total" class="form-control" value="0.00">
                <span class="input-group-addon">{{ quote_currency().code }}</span>
            </div>
        </div>

        <div class="js-order-assumptions order-total">
            <div class="order-total-line">
                <p class="js-total-order pull-right"><span class="js-value">{{ '0.00'|fmt_price }}</span></p>
                <label>{{ 'form.limit.order'|trans }}</label>
            </div>
            <div class="order-total-line">
                <p class="js-fee pull-right"><span class="js-value">{{ buyFees.percent }}</span>%</p>
                <label>{{ 'form.limit.fee'|trans }}</label>
            </div>
            <div class="order-total-line total">
                <p class="js-total pull-right"><span class="js-value">{{ '0.00'|fmt_price }}</span></p>
                <label class="white">{{ 'form.limit.total'|trans }}</label>
            </div>
        </div>
    </div>

    <div class="form-btn">
        <button class="btn btn-lg btn-block btn-green" type="submit">
            {{ ("order.buy_crypto." ~ base_currency().code)|trans }}
        </button>
    </div>

</form>