{% trans_default_domain 'Deposit' %}

{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.companyName) }}

<div class="row row-sm">
    <label class="control-label col-sm-5" for="international_transfer_amount">{{ 'deposit.amount'|trans }}</label>

    <div class="col-sm-4">
        <p>
            {{ form_widget(form.amount, {'attr': {'class': 'form-control currency js-amount-input'} }) }}
        </p>
    </div>
    <div class="col-sm-3">
        <p>
            {{ form_widget(form.currency, {'attr': {'class': 'form-control js-currency-selector'} }) }}
        </p>
    </div>
</div>
{{ form_row(form.comment) }}
