{% extends 'BtcTransferBundle::layout.html.twig' %}
{% trans_default_domain 'Deposit' %}
{% set page_title = 'deposit.title'|trans({'%bank_name%' : bank.name}) %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'deposit.title'|trans({'%bank_name%' : bank.name}) }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% include('BtcAccountBundle:widgets:flash_messages.html.twig') %}

            {% form_theme form 'BtcUserBundle:Form:fields.html.twig' %}
            <form
                action="{{ path('btc_transfer_deposit_bank', {'bank':bank.slug}) }}"
                method="POST"
                id="deposit-form"
                {% for currency, fee in model.fees.feeList %}
                    {{ 'data-' ~ currency ~ '=' ~ fee|json_encode() }}
                {% endfor %}
            >
                <p>{{ 'deposit.please_select'|trans|raw }}</p>

                <p>
                  <select class="form-control js-bank-selector">
                    {% for b in banks %}
                      {% set location = path("btc_transfer_deposit_bank", {"bank": b.slug}) %}
                      <option data-location="{{ location }}" {% if bank.name == b.name %} selected {% endif %}>{{ b.name }}</option>
                    {% endfor %}
                  </select>
                </p>

                <div class="js-deposits" data-source="{{ model.paymentLimits.balances|json_encode() }}">
                  <p>{{ 'deposit.limit'|trans }} <strong data-name="limit"></strong></p>
                </div>

                {% include "BtcTransferBundle:FiatTransfer:deposits/form/" ~ bank.slug ~ ".html.twig" %}

                <div class="row row-sm">
                    <label class="control-label col-sm-5" for="fee">{{ 'deposit.fees'|trans }}</label>

                    <div class="col-sm-7">
                        <p>
                            <input id="fee" type="text" readonly="" value="0.00" class="form-control js-fee-input">
                        </p>
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="row row-sm">
                    <div class="col-sm-7 col-sm-offset-5">
                        <button class="btn btn-blue btn-control btn-block" type="submit">{{ 'deposit.submit'|trans }}</button>
                    </div>
                </div>
                <br/>
                <div class="row row-sm">
                    <div class="text-danger">
                        {{ form_errors(form.amount) }}
                        {{ form_errors(form) }}
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-6">
          <div class="well well-dark">
            <h4 class="well-name">{{ 'headers.your_limits'|trans }}</h4>
              {% include "BtcTransferBundle::payment_limits.html.twig" %}
          </div>
          {% include "BtcTransferBundle::payment_fees.html.twig" %}
          <div class="alert alert-warning withdraw-deposit-info">
            <h2 class ="bank-heading"> {{ bank.name }}</h2>
            {% include 'BtcTransferBundle:FiatTransfer/deposits/bank:' ~ bank.slug ~ '.html.twig' %}
          </div>
        </div>
    </div>
    {% include 'BtcTransferBundle:FiatTransfer/deposits/items:' ~ bank.slug ~ '.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
      $(document).ready(function() {
        var availability = $('.js-deposits');
        var balances = availability.data('source');

        $('.js-currency-selector').on('change', function() {
          var c = $(this).find(':selected').text();
          var fmt = {symbol: c, format: "%v %s"};
          if (balances[c].unlimited) {
            availability.find('[data-name="limit"]').parent().hide();
          } else {
            availability.find('[data-name="limit"]').text(accounting.formatMoney(balances[c].allowed, fmt)).parent().show();
          }
        }).change();

        $(".js-bank-selector").change(function () {
            window.location.href = $(this).find('option:selected').data('location');
        });

        $("#deposit-form").paymentFees();
      });
    </script>
{% endblock %}
